@*<!-- Modal Saldo -->
<div @*style="display:none"* class="modal fade" id="ag-modal-saldo" tabindex="-1" role="dialog" aria-labelledby="ag-modal-saldo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="ag-modal-title">
                    Transferência de saldo
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="background-color: #F0F1F5"
                 class="ag-modal-body">
                Você tem um saldo positivo que será transferido para sua conta Bradesco. Podemos continuar?

                <br><br><br>

                <button id="ag-btn-modal-saldo" onclick="solicitarTrocaModelo()" type="button" class="ag-page-button ag-brasdesco-sans-semibold" data-dismiss="modal">Sim, continuar</button>
                
                <a class="ag-page--link ag-brasdesco-sans-semibold" style="margin: 20px" href="#" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
    </div>
</div>*@