@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


<div class="container">
    
    <h1>Tutorial sobre modal em BootStrap <a href="https://getbootstrap.com.br/docs/4.1/components/modal/"><strong>here</strong></a></h1>
    <br/>
    <h2>Small Modal</h2>
    <!-- Button to Open the Modal -->
    <button style="margin-top:25px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Open modal
    </button>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                   Consegui finalmente rodar o modal ...
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- Botão para acionar modal -->
<button style="margin-top:200px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
    class="modal-dialog-centered"
</button>

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">class="modal-dialog-centered"</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Faz o modal surgir no meio da tela!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>

<button onclick="abreModalSaldo" type="button" data-toggle="modal" data-target="#ag-modal-saldo" class="ag-page-button ag-brasdesco-sans-semibold" style="margin-top:50px;">
    Modal Saldo
</button>
<!-- Modal Saldo -->
<div @*style="display:none"*@ class="modal fade" id="ag-modal-saldo" tabindex="-1" role="dialog" aria-labelledby="ag-modal-saldo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="ag-modal-title">
                    Transferência de saldo
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="background-color: #F0F1F5"
                 class="ag-modal-body">
                Para o "cancelar" ficar separado do botão, é só colocar style="margin: 20px"
                <br><br><br>

                <button id="ag-btn-modal-saldo" onclick="solicitarTrocaModelo()" type="button" class="ag-page-button ag-brasdesco-sans-semibold" data-dismiss="modal">Sim, continuar</button>

                <a class="ag-page--link ag-brasdesco-sans-semibold" style="margin: 20px" href="#" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
    </div>
</div>